.hp{
    @media screen {
        max-width: 600px;
        max-height: 5000px;
    width: 380px;
    height: 330px;
    margin-top: 200px;
    margin-left: 100px;
    background: url(https://static1.unieuro.it/medias/sys_master/root/h39/h11/44181788327966/-api-rest-00ed29448a7522f610cac04d7b9ea7e0-assets-5ec9ed7fa54ce9f0e1b363f96194905f-preview-sgmConversionBaseFormat-sgmProductFormat.jpg);
}
}
.hptext{
    @media screen {
        max-width: 700px;
        max-height: 500px;
    margin-top: -330px;
    margin-left: 100px;
}
}
.hpbuy{
    @media screen {
        max-height: 1000px;
        max-width: 600px;
    margin-top: -60px;
    margin-left: 120px;
}
}
.acer{
    @media screen {
        max-width: 1000px;
        max-height: 700px;
    width: 420px;
    height: 360px;
    margin-left: 750px;
    background: url(https://images.eprice.it/nobrand/0/Lightbox/070/209614070/DAM209614070-0-6dc2d92f-d0ce-409a-bf0f-20c7a48825ef.jpg);
}
}
.acertext{ 
    @media screen {
        max-height: 700px;
    max-width: 1000px;
    margin-top: -300px;
    margin-left: 800px;
}
}
.acerbuy{
    @media screen {
        max-height: 700px;
        max-width: 1000px;
    margin-top: -60px ;
    margin-left: 820px;
}
}
.asus{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    width: 400px;
    height: 300px;
    background: url(https://static1.unieuro.it/medias/sys_master/root/h9f/hf8/44570376470558/-api-rest-00ed29448a7522f610cac04d7b9ea7e0-assets-e9524d2ddbbddceba20eb13d58f36fe8-preview-sgmConversionBaseFormat-sgmProductFormat.jpg);
    margin-top: -30px;
    margin-left: 1400px;
}
}
.asustext{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: -270px;
    margin-left: 1460px;
}
}
.asusbuy{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: -60px;
    margin-left: 1480px;
}
}
.hpmon{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: 300px;
    margin-left: 150px;
}
}
.acermon{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: -170px;
    margin-left: 860px;
}
}
.asusmon{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: -170px;
    margin-left: 1470px;
}
}
.altext{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: -1000px;
    margin-left: 700px;
}
}
.alta{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-left: 700px;
}
}
.mega{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-left: 950px;
    margin-top: -50px;
}
}
.mymarket{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-left: 1050px;
    margin-top: -70px;
}
}
.extra{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: -15px;
    margin-left: 700px;
}
}
.dabla{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: 750px;
}
}
.git{
    @media screen {
        max-height: 700px;
        max-width: 2000px;
    margin-top: 750px;
    margin-left: 1740px;
}
}
.gittext{
    
    margin-top: -50px;
    margin-left: 1820px;
}
